@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300&display=swap');
.nav-item{

      font-size: 18px;
}
.nav-item:hover{
    color: #ffffff7d;
    font-size: 18px;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.description{
    font-size: 16px;
}
.edu_img{
    width: 100%;
    border-radius: 4px;
}
.img{
    width: 50%;
    border-radius: 100%;
}


.headingname{
    font-weight: bolder;
}
.label{
    font-size: 20px;
    font-weight: 700;
}
.icons{
    display: inline-block;
}
footer .last{
    background-color: #838ea07d;
}
.footer-container{
    border-top: 2px solid #fff;
}
.anchor{
    text-decoration: none;
    color: #fff;
}
.anchor:hover{
    color: rgb(19, 109, 194);
}

.description-about{
    font-size: 20px;
}
.qoute{
    font-family:'Times New Roman';
    color: #868484e7;
    margin-top: 30%;
}
.namecol{
    margin-top: 90%;
    margin-bottom: 10%;
    color: #9f9c9ce7;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}
.logo{
    height: 80px;
    width: 120px;
    
}
.anc{
    display: block;
    width: 250px;
    height: 35px;
    line-height: 32px;
    font-size: 16px;
    font-family:'Times New Roman';
    text-decoration: none;
    color: #fff;
    border: 2px solid #333;
    background-color:#333 ;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .anc span{
    position: relative;
    z-index: 2;
  }
  
  .anc:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #272626ee;
    transition: all .35s;
  }
  
  .anc:hover{
    color: #fff;
  }
  
  .anc:hover:after{
    width: 100%;
  }

.head{
    color:#8f8b8bee ;
    font-family: 'Times New Roman';
}
.scrolled{
    background-color: #212529 !important;
    transition: .4s;
    box-shadow: 0 10px 24px 0 rgba(182, 166, 166, 0.2);

}
.tr{
    background-color: #272a2c5f;
    
}